.message {
	border-style: solid;
	margin-bottom: 30px;
}

.choosableWord {
	margin-left: 5px;
}

.chosenWord {
	background-color: #eeee00;
}

.exerciseWord {
	margin-left: 5px;
}

.missingWord {
	margin-left: 5px;
	font-size: small;
}

.missingWordFound {
	color: #bbb;
	text-decoration: line-through;
}

